.contenedor{
    width: 100%;
    height: 1200px;
    background-color: rgb(139, 112, 212);
}
.encabezado{
    width: 100%;
    height: 150px;
    background-color: #14bdf0;
    text-align: center;
    font-size: 35px;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(16, 90, 119);
}
.contenedor2{
    width: 100%;
    height: 1000px;
    background-color: rgb(92, 72, 226);
    display: flex;
}
.izquierda{
    width: 50%;
    height: 1000px;
    background-color: rgb(100, 195, 250);
    font-size: 30px;
}
.centro{
    width: 60%;
    height: 1000px;
    background-color: rgb(67, 226, 178);
}
.derecha{
    width: 50%;
    height: 1000px;
    background-color: rgb(100, 195, 250);
}